body {
    background-image: url("vi.jpg");
    background-repeat:no-repeat;
    background-size: cover;
	height:100%;
	margin:0;
}

html {
	height:100%;
}

.clickedButton {
	background-color: 647D6D;
}